/logs/
/options.txt
/resourcepacks/
/server-resource-packs/
/usernamecache.json
/usercache.json
/config/forge.cfg
/config/forgeChunkLoading.cfg
/config/splash.properties
/NodeJS-Server/node_modules/
DIM-1
DIM1
data
forcedchunks.da
icon.png
playerdata/
stats
session.lock

