/logs/
/options.txt
/resourcepacks/
/server-resource-packs/
/usernamecache.json
/usercache.json
/screenshots/
/config/forge.cfg
/config/forgeChunkLoading.cfg
/config/splash.properties
/NodeJS-Server/node_modules/
/saves/*/DIM-1
/saves/*/DIM*
/saves/*/data/
forcedchunks.dat
icon.png
playerdata/
stats
/MC-RealWorldInterface-Java/out/
/MC-RealWorldInterface-Java/.idea/
session.lock

